

/*------------------------------ CUSTOM CSS ------------------------------*/
body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  color: #444444;
}

.container {
  width: 940px;
  margin: 0 auto;
}

h1 {
  font-size: 20px;
  line-height: 70;
  font-weight: 500;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

a {
  font-size: 13px;
  color: #444444;
  text-decoration: none;
}

/*------------------------------ PRODUCT LIST -----------------------------*/
.product-list {
	margin-top: 20px;
}

.product-item {
	padding: 15px;
	border-radius: 4px;
}

.product-item:hover {
	background-color: #f2f2f2;
}

.product-item > * {
	display: inline-block;
	vertical-align: middle;
}

.product-item-media {
		width: 130px;
		height: 90px;
}

.product-item-info {
	padding: 0 20px;
	height: 90px;
}

.product-item-info p {
	line-height: 50px;
	color: #999999;
	font-size: 14px;
}

.product-item-link {
	display: block;
	width: 20px;
	padding: 3px;
	border-radius: 50%;
	float: right;
	background-color: white;
	text-align: center;
}